export(estimate_Epsilon_ForMulti)
export(find_Poset_ForVote)
export(estimate_Lambda_ForMulti)
export(targetToIndex)
export(indexToRange)
export(topological_Sort)
export(simulation_Data_Generate)
export(random_Poset)
export(rateTimeHelp)
export(find_most_Compatible_Genotype_by_Sampling)
export(find_most_Compatible_Genotype_by_Flipping)
export(donor_Pair_Genotype_Filter)
export(parent_Set_Help)
export(GammaCluster)
export(genotype_SolveQP)
export(MH_Pretreatment_based_on_flipping)
export(Gamma_Parameter_GS)
export(MH_Sampling_based_on_flipping)
export(get_Res_From_Sampling)
export(PosteriorParameters_Mvnormal)
export(PosteriorDraw_Mvnormal_for_1)
export(Likelihood_Beta)
export(PriorDensity_Beta)
export(MhParameterProposal_Beta)
export(MetropolisHastings_Beta)
export(fitness_Inference_Patient_Gene_Prior)
export(fitness_Inference_Patient_Gene)
export(simulation_Time_Data_Generate)

export(estimate_Epsilon)
export(estimate_Epsilon_based_on_Poset_and_Lambda)
export(find_Poset)
export(estimate_Lambda)
export(is_Compatible)
export(sample_Age_T)
export(sample_Age_TLW)
import(Rcpp)

useDynLib(este)
